body {
    padding-top: 50px;
}

.main-container {
    padding: 40px 15px;
    font-family: monospace;
}

.adversarial-notice {
    background-color: black;
    color: red;
    font-size: 22pt;
    padding: 15px;
}

.regular-notice {
    background-color: transparent;
    color: green;
    font-size: 22pt;
    padding: 15px;
}

.face-img {
    width: 224px;
    height: 224px;span
}

#img-container {
    margin-top: 65px;
}

#stats-container {
    margin-top: 50px;
    font-size: 16pt;
}

.img-subtitle {
    font-size: 14pt;
    width: 224px;
}

.math-sign {
    font-size: 22pt;
    padding-left: 15px;
}

.confidence-span {
    text-align: right;
}